body {
  background-color: indigo;
  color: black;
  margin: 0;
}

h1 {
  color: white;
  font-size: 26px;
  font-family: Arial, Helvetica, sans-serif;
  width: 45%;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

p em {
  color: yellow;
}

header {
  background-color: indigo;
}

.status-update {
  color: yellow;
}

footer p {
  color: green
}

.footer-text {
  color: yellow;
}

footer {
  color: red;
}

.align-right {
  text-align: right;
}

.wrapper {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

main {
  background-color: white;
  padding: 50px 0;
}

a {
  color: yellow;
  text-decoration: underline;
}

a:hover {
  color: chartreuse;
}

nav {
  width: 45%;
  text-align: right;
}

nav a {
  background-color: white;
  color: indigo;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  font-family: Arial;
  padding: 10px;
  margin-right: 10px;
  border: 2px solid white;
}

nav a:hover {
  background-color: transparent;
  color: white;
}