body {
  background-color: indigo;
  color: black;
  margin: 0;
}

.name {
  color: white;
  font-size: 26px;
  font-family: Arial, Helvetica, sans-serif;
  width: 45%;
  float: left;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

p em {
  color: yellow;
}

header {
  background-color: indigo;
  position: fixed;
  width: 100%;
  z-index: 100;
  box-shadow: 0 2px 5px 2px rgba(0,0,0,.5);
}

.status-update {
  color: yellow;
}

footer p {
  color: green
}

.footer-text {
  color: yellow;
}

footer {
  color: red;
}

.align-right {
  text-align: right;
}

.wrapper {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

main {
  background-color: white;
  padding: 50px 0;
}

a {
  color: yellow;
  text-decoration: underline;
}

a:hover {
  color: chartreuse;
}

nav {
  width: 45%;
  text-align: right;
  float: right;
}

nav a {
  background-color: white;
  color: indigo;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  font-family: Arial;
  padding: 10px;
  margin: 15px 0 15px 10px;
  border: 2px solid white;
  display: inline-block;
}

nav a:hover {
  background-color: transparent;
  color: white;
}

.kitten-img {
  position: relative;
}

.img-container {
  background: red;
  width: 200px;
  height: 300px;
  position: relative;
}

.img-caption {
  background: white;
  position: absolute;
  bottom: 10px;
  margin: 0;
  padding: 5px;
  font-size: 12px;
}

.work {
  background: indigo;
  width: 25.33%;
  float: left;
  padding: 20px;
  margin-right: 20px;
}

.work-container {
  margin-bottom: 200px;
}

@media only screen and (max-width: 700px) {
  .work {
    width: 100%;
  }
}