body {
  margin: 0;
}

header {
  background-color: black;
  padding: 50px;
}

nav {
  background-color: black;
}

nav a {
  background-color: black;
  text-decoration: none;
  padding: 20px;
  color: white;
  border-bottom: 2px solid white;
  font-weight: bold;
  text-transform: uppercase;
}

nav a:hover {
  color: black;
  background-color: white;
}

main {
  margin-top: 100px;
  background-color: gray;
}

#main-footer {
	background-color: black;
  color: white;
}

#main-footer p span {
  color: red; 
}

.align-right {
  text-align: right;
}

.wrapper {
  background-color: red;
  width: 60%;
  margin: 0 auto;
}

.name {
  position: relative;
  color: white;
}

.image-wrapper {
  width: 200px;
  height: 200px;
  position: relative;
}

.label {
  position: absolute;
  background-color: white;
  padding: 5px 10px;
  font-weight: bold;
  color: black;
  bottom: 5px;
  margin: 0;
}